@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

html {
    font-size: 62.5%;
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background-color: transparent;
    padding: 1.5rem 2.2rem;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--white);
}

input {
    outline: none;
    border: none;
    display: block;
}

label {
    display: block;
}

ul {
    list-style-type: none;
}

:root {
    --dark-blue-main-background-color: hsl(218, 28%, 13%);
    --dark-blue-intro-email-signup: hsl(217, 28%, 15%);
    --dark-blue-footer-background-color: hsl(216, 53%, 9%);
    --dark-blue-testimonial-background-color: hsl(219, 30%, 18%);

    --cyan-call-to-action-inside: hsl(176, 68%, 64%);
    --blue-call-to-action-inside: hsl(198, 60%, 50%);
    --light-red-error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--white);
    background-image: url('images/bg-curvy-mobile.svg');
    background-color: var(--dark-blue-main-background-color);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#app {
    position: relative;
}

.capsule {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hero-page,
.services-page,
.ourwork-page,
.review-page {
    padding: 13.5rem 2.0rem;
}





header {
    position: absolute;
    width: 100%;
    padding: 2.0rem;
}

header .capsule {
    max-width: 1120px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo {
    width: 9.5rem;
}

nav ul {
    display: flex;
    gap: 1.0rem;
}

nav ul li {
    padding: 0.5rem;
}





.hero-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 0;
    margin-bottom: 3.5rem;
}

.hero-content {
    text-align: center;
    max-width: 65.2rem;
}

h1, 
h2 {
    font-family: 'Raleway';
    margin: 1.5rem 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.hero-content p {
    max-width: 49.5rem;
    margin: 1.5rem auto;
}





.services-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5.8rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}





.ourwork-content {
    display: grid;
    grid-template-columns: 1fr;

    gap: 3.8rem;
}

.ourwork-content a {
    color: var(--cyan-call-to-action-inside);
    border-bottom: 0.1rem solid var(--cyan-call-to-action-inside);
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.6rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
}





.review-content {
    max-width: 1120px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.quote-icon {
    position: absolute;
    top: -4.5rem;
}

.reviewer-card {
    background-color: var(--dark-blue-testimonial-background-color);
    padding: 2.2rem 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.reviewer-details {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.reviewer-details img {
    width: 3.8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}





.register-page {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 25.5rem;
}

.up {
    background-color: var(--dark-blue-main-background-color);

}

.down {
    background-color: var(--dark-blue-footer-background-color);
}

.register-content {
    width: 800px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 2.0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-blue-intro-email-signup);
    border-radius: 1.2rem;
    padding: 3.5rem 2.5rem;
}

form {
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

input {
    width: 100%;
    padding: 1.5rem 2.2rem;
    border-radius: 2.5rem;
}





footer {
    padding: 13.2rem 2.0rem 2.8rem;
    background-color: var(--dark-blue-footer-background-color);
}

footer .capsule {
    max-width: 1120px;
}

.sitemap-page {
    margin-top: 2.8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5rem;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

address div {
    display: flex;
    align-items: start;
    gap: 1.2rem;
}

.sitemap-links {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.sitemap-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}





@media screen and (min-width: 768px) {

    body {
        font-size: 1.6rem
    }

    h1 {
        font-size: 3.5rem;
    }

    .services-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: 15rem;
        row-gap: 12rem;
    }

    .ourwork-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .review-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .reviewer-card {
        gap: 2.0rem;
        padding: 2.5rem 3.5rem;
    }

    .register-content {
        padding: 3.5rem 6.8rem;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        flex-direction: row;
    }

    label {
        flex-grow: 1;
    }

    .sitemap-page {
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-between;
    }

    .sitemap-links {
        flex-direction: row;
        gap: 6.8rem;
    }

    address {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    address div:nth-child(1) {
        grid-row: 1 / 3;
    }
}